.profile__edit-button {
  margin: 0;
  padding: 0;
  background-image: url(../../../images/Edit-Button.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  background-color: rgba(0, 0, 0);
  width: 24px;
  height: 24px;
  grid-area: but;
  margin-left: 18px;
  margin-top: 5px;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 19px;
    height: 19px;
    margin-left: 10px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
}
