 .header__logo{
  background-image: url(../../../images/Vector.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 33px;
  width: 142px;
  margin: 48px auto 41px 0;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.header__logo:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 105px;
    margin: 28px auto 31px 27px;
  }
}