.popup__container {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  width: 430px;
  min-height: 330px;
  background-color: #fff;
  color: black;
  border-radius: 10px;
  text-align: start;
}

@media screen and (max-width: 767px) {
  .popup__container {
    width: 282px;
    min-height: 320px;
  }
}