.card__like {
  background-image: url(../../../src/images/Лайк.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  border: none;
  width: 24px;
  height: 19px;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}


.card__like:hover {
  opacity: 0.5;
}
