.profile__add-img {
  background-image: url(../../../images/Крестик.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 22px 22px;
}

@media screen and (max-width: 767px) {
  .profile__add-img {
    background-size: 16px 16px;
  }
}